*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
*.suo
*.pdb
*.cache
/Server/SmartControlServer/obj/Debug/SmartControlServer.csproj.FileListAbsolute.txt
